<div class="container mt-5">
  <!-- Hero Section -->
  <div class="row">
    <div class="col-md-7 my-auto">
      <h1 class="display-3 font-weight-bold">Find Your Perfect Companion</h1>
      <p class="lead">At AdoptADog, we help you find the perfect furry friend to bring love and joy into your life. Explore a wide variety of breeds, each with its own unique personality and charm.</p>
      <div class="mt-3">
        <%= link_to 'Browse All Dog Breeds', breeds_path, class: 'btn btn-lg', style: 'background-color: #87CEEB; color: white; border-color: #87CEEB;' %>
      </div>
    </div>
    <div class="col-md-5">
      <%= image_tag 'happyDog.jpg', alt: 'Happy Dog', class: 'img-fluid rounded shadow' %>
    </div>
  </div>

  <!-- Search Section -->
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h2 class="mb-4">Bring Home Your New Best Friend</h2>
      <p class="lead">Use our search feature to find a dog breed that matches your lifestyle. Whether you're looking for a playful companion or a loyal protector, we have the perfect match for you.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <%= form_tag breeds_path, method: :get, class: "form-inline d-flex justify-content-between my-2 my-lg-0" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search by breed name", class: "form-control flex-grow-1 mr-2" %>
        <%= submit_tag "Search", class: "btn btn-outline-success", style: 'border-color: #87CEEB;' %>
      <% end %>
    </div>
  </div>

  <!-- Learn More Section -->
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h2 class="mb-4">Learn More About Dog Adoption</h2>
      <p class="lead">Adopting a dog is a big decision, and we're here to help you every step of the way. Learn about the adoption process, what to expect, and how to prepare your home for a new furry friend.</p>
      <%= link_to 'Learn More About Adoption', about_path, class: 'btn btn-lg', style: 'background-color: #87CEEB; color: white; border-color: #87CEEB; font-size: 1.2rem;' %>
    </div>
  </div>
</div>
