<div class="container my-4">
  <% if @breed.present? %>
    <h1 class="text-center mb-4"><%= @breed['name'] %></h1>

    <div class="row align-items-center mb-4">
      <% if @breed['reference_image_id'].present? %>
        <div class="col-md-6">
          <%= image_tag "https://cdn2.thedogapi.com/images/#{@breed['reference_image_id']}.jpg", alt: @breed['name'], class: "img-fluid rounded mb-4" %>
        </div>
      <% end %>

      <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <th>Bred for:</th>
              <td><%= @breed['bred_for'] || "N/A" %></td>
            </tr>
            <tr>
              <th>Breed Group:</th>
              <td><%= @breed['breed_group'] || "N/A" %></td>
            </tr>
            <tr>
              <th>Life Span:</th>
              <td><%= @breed['life_span'] || "N/A" %></td>
            </tr>
            <tr>
              <th>Temperament:</th>
              <td><%= @breed['temperament'] || "N/A" %></td>
            </tr>
            
            <tr>
              <th>Weight:</th>
              <td><%= @breed.dig('weight', 'imperial') %> lbs (Imperial), <%= @breed.dig('weight', 'metric') %> kg (Metric)</td>
            </tr>
            <tr>
              <th>Height:</th>
              <td><%= @breed.dig('height', 'imperial') %> inches (Imperial), <%= @breed.dig('height', 'metric') %> cm (Metric)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <p class="text-center">Breed information is not available.</p>
  <% end %>

  <h2 class="mt-4 mb-4">Owners Who Have Adopted This Breed</h2>
  <% if @adoptions.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Adoption Date</th>
          <th>Email</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% @adoptions.each do |adoption| %>
          <tr>
            <td><%= adoption.owner.name %></td>
            <td><%= adoption.adoption_date.strftime('%B %d, %Y') %></td>
            <td><%= adoption.owner.email %></td>
            <td><%= adoption.owner.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No owners have adopted this breed yet.</p>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to 'Back to Home', breeds_path, class: 'btn btn-info' %>
  </div>
</div>
