<div class="container">
  <% if @breed.present? %>
    <h1 class="text-center"><%= @breed['name'] %></h1>
    
    <% if @breed['reference_image_id'].present? %>
      <%= image_tag "https://cdn2.thedogapi.com/images/#{@breed['reference_image_id']}.jpg", alt: @breed['name'], class: "img-fluid" %>
    <% end %>

    <div class="row">
      <div class="col-md-6">
        <h2>Details</h2>
        <p><strong>Bred for:</strong> <%= @breed['bred_for'] || "N/A" %></p>
        <p><strong>Breed Group:</strong> <%= @breed['breed_group'] || "N/A" %></p>
        <p><strong>Life Span:</strong> <%= @breed['life_span'] || "N/A" %></p>
        <p><strong>Temperament:</strong> <%= @breed['temperament'] || "N/A" %></p>
        <p><strong>Origin:</strong> <%= @breed['origin'] || "N/A" %></p>
      </div>
      <div class="col-md-6">
        <h2>Measurements</h2>
        <p><strong>Weight:</strong> <%= @breed.dig('weight', 'imperial') %> lbs (Imperial), <%= @breed.dig('weight', 'metric') %> kg (Metric)</p>
        <p><strong>Height:</strong> <%= @breed.dig('height', 'imperial') %> inches (Imperial), <%= @breed.dig('height', 'metric') %> cm (Metric)</p>
      </div>
    </div>
  <% else %>
    <p>Breed information is not available.</p>
  <% end %>


  <h2>Owners Who Have Adopted This Breed</h2>

  <% if @adoptions.any? %>
  <% @adoptions.each do |adoption| %>
    <div>
      <p><strong>Name:</strong> <%= adoption.owner.name %></p>
      <p><strong>Adoption Date:</strong> <%= adoption.adoption_date.strftime('%B %d, %Y') %></p>
      <p><strong>Phone:</strong> <%= adoption.owner.phone %></p>
      <p><strong>Email:</strong> <%= adoption.owner.email %></p>
      <p><strong>Address:</strong> <%= adoption.owner.address %></p>
    </div>
  <% end %>
<% else %>
  <p>Currently, there are no owners who have adopted this breed.</p>
<% end %>

  
  
  <%= link_to 'Back to Breeds', breeds_path, class: 'btn btn-secondary' %>
</div>
